[Unit]
Description=Run a webserver

[Container]
Image=docker.io/library/caddy:2.8.4
ContainerName=caddy
PublishPort=80:80
Volume=/usr/share/caddy/config:/etc/caddy:Z
Volume=/usr/share/caddy/data:/data:Z

[Install]
WantedBy=default.target
