[Unit]
Description=Cockpit web service container

[Container]
Image=quay.io/cockpit/ws:329.1
ContainerName=cockpit-ws
NetworkMode=Host

[Install]
WantedBy=default.target
